{% extends 'layout.html' %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block style %}


<style>
</style>
{% endblock %} 

{% block body %}<font color="red" ><i>需账户和密码登陆才可以试用</i></font>
<ul>

<li><h3>文件上传示例</h3>


      
      <form action="/api" enctype='multipart/form-data' method='POST'>
         <input type="file" name="file">
         <input type="submit" value="上传">
     </form>

</li>
			<li> <h3>调用API解析文件</h3>
				<div>
				$curl -u username:password -i -X POST -F "file=@filename.pdf" http://pdf.simplified.org.cn:3000/api/vbeta
			</div>
			</li>
<li>
	<h3>试用方式</h3>1.<strong>需要试用请注册免费获取试用账户！</strong>
	<br>
	2.通过网站方式调用其效率会受到网络环境的影响;大规模文件处理需求请与我们联系获取专线服务通道。
	<br>
	3.联系方式：13262897337@163.com

</li>
<ul>
<br><br><br><br>



{% endblock %}